
.Red {
    color: red;
}
  
.Bold {
    font-weight: bold;
}


.Button {
    border: 1px solid blue;
    padding: 16px;
    background-color: green;
    font: inherit;
    color: white;
    cursor: pointer;
}
   
button:hover.Button  {
    background-color: lightgreen;
    color: black;
}
   
button.Red.Button  {
    background-color: red;
}

button.Red:hover.Button  {
    background-color: salmon;
    color: black;
}